{
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": ["import", "react", "react-hooks"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off"
  }
}