# Dependencies
node_modules/

# Test coverage
.coverage

# Logs
npm-debug.log

# Env files
.env

# Editors and IDEs
.idea
.vscode

# Misc
.DS_Store

# Etc
public

# Storybook
storybook-static

# Build
.build
